*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFE1E5;
}

#container{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    background-color: #fff;
    /* background: linear-gradient(#544DB5,#533BAE ); */
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 2rem;
    font-weight: 600;
}

.login-title{
    margin-bottom: 15px;
}

.social i{
    padding: 10px;
    border: 2px solid #DFE1E5;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 15px;
}

.login-form,
.register-area{
    padding: 50px 25px;
    flex: 1;
}

.inputs{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 15px 0 15px 0;
    width: 100%;
}

.inputs input {
    padding: 10px;
    border: none;
    outline: none;
    background-color: #DFE1E5;
    border-radius: 8px;
}

.login-form p {
    color: rgba(0, 0, 0, 0.75);
}

.login-form button{
    padding: 8px;
    width: 50%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px 0 15px 0;
    color: #fff;
    font-weight: 600;
    background:linear-gradient(to right, #5752B8,#2904ac);
    transition: .5s;
}

.register-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100px 0 0 70px;
    background:linear-gradient(to right, #5752B8,#2904ac);;

}

.register-area .animation{
    transform: translateX(-100%);
}

.register-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
    text-align: center;
}

.register-content h2,
.register-content p{
    color: #fff;
}

.register-content p{
    font-size: 14px;
}
.register-content button{
    padding: 8px;
    width: 50%;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    margin: 15px 0 15px 0;
    color: #fff;
    font-weight: 600;
    transition: .5s;
}

.login-form button:hover,
.register-content button:hover{
    transform: scale(1.1);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
